<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Python Jinja Templates</string>
	<key>uuid</key>
	<string>B4E6C4DD-43DB-473D-8E0F-662C5E64C31D</string>
</dict>
</plist>
